.container {
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }

  &--header {
    padding-top: 40px;
  }
}

.section {
  width: 100%;
}
