body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: #e5e5e5;

  &.dark-theme {
    background-color: #1e2025;
  }
}

body::-webkit-scrollbar-thumb {
  background-color: hwb(24 3% 0% / 0.747);
}

body::-webkit-scrollbar {
  background-color: #1e2025;
  width: 7px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
