<div class="container container--header">
  <nav class="header-nav">
    <a href="./" class="logo"
      ><svg class="logo__svg">
        <use href="./images/sprite.svg#icon-logo"></use></svg
      ><span class="logo__text">Filmoteka </span></a
    >
    <ul class="nav-page">
      <li class="nav-page__item">
        <a class="nav-page__link" href="./index.html">home</a>
      </li>
      <li class="nav-page__item">
        <a
          class="nav-page__link nav-page__link--current"
          href="./myLibrary.html"
          >my library</a
        >
      </li>
    </ul>
  </nav>

  <ul class="change-liset">
    <li class="change-btn__item">
      <button
        type="button"
        class="change-btn change-btn--watched current"
        data-btn="watched"
      >
        Watched
      </button>
    </li>
    <li class="change-btn__item">
      <button
        type="button"
        class="change-btn change-btn-queue"
        data-btn="queue"
      >
        queue
      </button>
    </li>
  </ul>
</div>
