<div class="container container--header">
  <nav class="header-nav">
    <a href="./" class="logo"
      ><svg class="logo__svg">
        <use href="./images/sprite.svg#icon-logo"></use></svg
      ><span class="logo__text">Filmoteka </span></a
    >
    <ul class="nav-page">
      <li class="nav-page__item">
        <a class="nav-page__link nav-page__link--current" href="./index.html"
          >home</a
        >
      </li>
      <li class="nav-page__item">
        <a class="nav-page__link" href="./myLibrary.html">my library</a>
      </li>
    </ul>
  </nav>

  <form class="search">
    <input type="text" class="search__input" placeholder="Movie search" />
    <button class="search__btn" type="submit">
      <svg class="search__svg">
        <use href="./images/sprite.svg#icon-search"></use>
      </svg>
    </button>

    <p class="search__text hidden">
      Search result not successful. Enter the correct movie name and
    </p>
  </form>
</div>
