<main class="main">
  <section class="section section--review">
    <div class="container">
      <ul class="contents"></ul>
      <ul class="pagination"></ul>
    </div>
  </section>
</main>
<!-- <ul class="paginate">
        <li class="paginate-btn decrement">
          <svg class="paginate-btn__icon">
            <use href="./images/sprite.svg#icon-arrow-left"></use>
          </svg>
        </li>
        <li class="number">1</li>
        <li class="number">2</li>
        <li class="number number--active">3</li>
        <li class="number">4</li>
        <li class="number">5</li>
        <li class="paginate-btn increment">
          <svg class="paginate-btn__icon">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </li>
      </ul> -->
