<div class="backdrop is-hidden">
  <div class="modal">
    <button type="button" class="modal__close" data-close-modal>
      <svg class="icon-close" width="16" height="16">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <article class="modal__container">
      <img class="modal__img" src="./images/x.jpg" alt="" width="375px" />
      <div class="rigth-box">
        <h2 class="modal__title">A FISTFUL OF LEAD</h2>

        <div class="modal__description">
          <ul class="modal__list">
            <li class="modal__item">Vote / Votes</li>
            <li class="modal__item">Popularity</li>
            <li class="modal__item">Original Title</li>
            <li class="modal__item">Genre</li>
          </ul>
          <ul class="modal__list-value">
            <li class="modal__item-value">
              <span class="modal__item-value--rating vote_average">7.3</span> /
              1260
            </li>
            <li class="modal__item-value popularity">100.2</li>
            <li class="modal__item-value original_title">A FISTFUL OF LEAD</li>
            <li class="modal__item-value tags">Western</li>
          </ul>
        </div>

        <h3 class="modal__subtitle">about</h3>
        <p class="modal__text overview">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>

        <ul class="modal__btn-list">
          <li>
            <button class="modal__btn modal__btn--to-Watched">
              add to Watched
            </button>
          </li>
          <li>
            <button class="modal__btn modal__btn--to-queue">
              add to queue
            </button>
          </li>
        </ul>
      </div>
    </article>
  </div>
</div>
