<div class="container">
  <ul class="user-tools__list">
    <li class="user-tools__item">
      <button class="user-tools__btn">
        <svg width="40" height="40" class="user-tools__icon">
          <use
            width="36"
            class="light current"
            href="./images/sprite.svg#icon-user-login"
          ></use>
        </svg>
      </button>
    </li>
    <li class="user-tools__item">
      <button class="user-tools__btn user-tools__btn--toggle sun">
        <svg width="40" height="40" class="user-tools__icon">
          <use
            class="sun"
            width="32"
            href="./images/sprite.svg#icon-sun-"
          ></use>
          <use
            class="moon"
            width="32"
            href="./images/sprite.svg#icon-moon"
          ></use>
        </svg>
      </button>
    </li>
    <li class="user-tools__item">
      <button class="user-tools__btn user-tools__btn--menu">
        <svg
          width="40"
          height="40"
          class="user-tools__icon user-tools__icon--menu"
          aria-label="переключатель меню авторизации"
        >
          <use class="menu-open-svg" href="./images/sprite.svg#icon-menu"></use>
          <use
            class="menu-close-svg"
            href="./images/sprite.svg#icon-closeSecond"
          ></use>
        </svg>
      </button>
    </li>
  </ul>
  <div class="memu-tags">
    <ul class="memu-tags__list">
      <li class="memu-tags__item">
        <a class="memu-tags__link" href="./">Action</a>
      </li>
      <li class="memu-tags__item">
        <a class="memu-tags__link" href="./">Adventure </a>
      </li>
      <li class="memu-tags__item">
        <a class="memu-tags__link" href="./">Comedy</a>
      </li>
      <li class="memu-tags__item">
        <a class="memu-tags__link" href="./">Animation</a>
      </li>
      <li class="memu-tags__item">
        <a class="memu-tags__link" href="./">Crime </a>
      </li>
      <li class="memu-tags__item">
        <a class="memu-tags__link" href="./">Documentary</a>
      </li>
      <li class="memu-tags__item">
        <a class="memu-tags__link" href="./">Family </a>
      </li>
      <li class="memu-tags__item">
        <a class="memu-tags__link" href="./">History</a>
      </li>
      <li class="memu-tags__item">
        <a class="memu-tags__link" href="./">Mystery</a>
      </li>
      <li class="memu-tags__item">
        <a class="memu-tags__link" href="./"> Music</a>
      </li>
      <li class="memu-tags__item">
        <a class="memu-tags__link" href="./">Horror</a>
      </li>
      <li class="memu-tags__item">
        <a class="memu-tags__link" href="./">Romance </a>
      </li>
      <li class="memu-tags__item">
        <a class="memu-tags__link" href="./">Science Fiction</a>
      </li>
      <li class="memu-tags__item">
        <a class="memu-tags__link" href="./">TV Movie</a>
      </li>
      <li class="memu-tags__item">
        <a class="memu-tags__link" href="./">Thriller</a>
      </li>
      <li class="memu-tags__item">
        <a class="memu-tags__link" href="./">War </a>
      </li>
      <li class="memu-tags__item">
        <a class="memu-tags__link" href="./">Western</a>
      </li>
    </ul>
  </div>
</div>
