.footer {
  background-color: #f7f7f7;
}
.container--footer {
  @media screen and (max-width: 767px) {
    padding-top: 28px;
    padding-bottom: 30px;

    text-align: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }
}

.footer-info__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.142;
  color: #545454;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.18;
  }

  &:first-child {
    margin-bottom: 10px;
  }
}
.footer_icon {
  width: 15px;
  height: 15px;
}
.footer__wrapper {
  margin-left: 10px;
  margin-right: 10px;
}
