.section--review {
  padding-bottom: 51px;
}

.container--main {
  @media screen and (max-width: 767px) {
    padding-top: 21px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 60px;
    padding-top: 60px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 60px;
  }
}
.gallery {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.paginate {
  display: flex;
  justify-content: center;
}

.contents__item {
  z-index: 1;
  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
    padding-bottom: 41px;
  }
}

.contents__img {
  border-radius: 5px;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
  }
}

.contents__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
}

.contents__tag {
  color: #ff6b08;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.pagination__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  border-radius: 5px;
  z-index: 1;

  &.current {
    background-color: #ff6b08;
  }
}

.paginate-btn__icon {
  width: 15px;
  height: 15px;
  color: black;

  fill: rgba(0, 0, 0, 0);
  stroke: currentColor;
}
